@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --background: #fefefe;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #f97a14;
  --color-secondary: #f95a20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fefefe;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply box-border;
  }
}

.menu-item {
  @apply relative
  after:absolute
  after:left-1/2
  after:-bottom-0.75
  after:h-0.5
  after:rounded-full
  after:w-full
  after:bg-primary
  after:content-['']
  after:-translate-x-1/2
  after:origin-center
  after:transition-transform;
}
.menu-item-inactive {
  @apply after:bg-primary
  after:scale-x-0
  hover:after:scale-x-100;
}

.menu-item-active {
  @apply text-primary
  after:bg-primary
  after:scale-x-10;
}

.login-button {
  @apply p-1.5 border rounded-lg transition-colors duration-300;
}

.size-option {
  @apply flex justify-center items-center hover:bg-primary p-2 border border-primary rounded-lg w-full transition-colors duration-300 cursor-pointer;
}

@keyframes heartPop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes cartPop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
